body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: #eaeaea;
}

header {
    border: 1px solid black;
    height: 3.5em;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8em;
    box-shadow: 2px 4px 18px 5px rgba(0, 0, 0, 0.242);
    background-color: rgba(0, 0, 0, 0.104);
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

header a:hover {
    transform: scale(1.1);
}

/* CSS DISPLAY RECETTE***********************************/

.container {
    /* border: 1px solid red; */
    height: auto;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

}

.recette {
    background-color: rgb(214, 214, 235);
    height: auto;
    width: 15em;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid black;
}

.info-recette{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: start;
    /* background-color: green; */
    padding: 0 2px;
}

.image-recette {
    width: 200px;
    height: 200px;
    overflow: hidden; 
    position: relative;
    margin: 0 8%;
}

.image-recette img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.container .recette a{
    text-decoration: none;
    color: black;
}

/*CSS SHEARCH BAR**********************************************************/

.shearch {
    /* background-color: red; */
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


ul{
    list-style-type: none;
    padding: 0;
}

.list {
    height: auto;
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    padding-left: 70px;
}

.ul-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list ul li a p{
    margin: 0;
}

.list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}



.li-list{
    background-color: rgb(214, 214, 235);
    width: 15em;
    height: 19em;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.shearch-image-recette{
    width: 200px;
    height: 200px;
    overflow: hidden; 
    position: relative;
    margin: 15px 0;
}

.shearch-image-recette img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
    
}

.info-shearch-recette{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: start;
}

.info-shearch-recette p {
    margin-right: 20px !important;
}

/* CSS AJOUT RECETTE *************************************/

.formulaire {
    /* background-color: blueviolet; */
    margin: 25px 0;
    padding: 10px;
    width: 90%;

}

.input-recette{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-ingredients{
    /* background-color: green; */
    margin: 10px 0;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: start;
    margin-left: 29%;
}

.input-ingredients h3 {
    margin: 10px 0;
    align-self: center;
}

.submit-recette{
    margin-left: 45%;
}

