<?xml version='1.0' encoding='UTF-8'?>
<phpunit colors='true'
    bootstrap="vendor/autoload.php">
    <php>
    <env name="DB_CONNECTION" value="mysql" />
    <env name="DB_HOST" value="127.0.0.1" />
    <env name="DB_PORT" value="8090" />
    <env name="DB_DATABASE" value="appCuisine" />
    <env name="DB_USERNAME" value="appCuisine" />
    <env name="DB_PASSWORD" value="betre9-haqRax-zotmag
" />
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory> tests/integration </directory>
        </testsuite>
    </testsuites>
</phpunit>